/* css file for resources/views/orders/order_form.blade.php */

.order-form {
    width: 100vh;
}

.form-control, .form-control:focus {
    background-color: #f2f4f5;
    color: black;
    border-radius: 1px;
    border-color: #f2f4f5;
    font-size: 20px;
}
